$s-a1: 0px 418px 0px -418px 67px 50px 597px 512px 'sprite.png'
$s-agenda: 420px 140px -420px -140px 57px 57px 597px 512px 'sprite.png'
$s-care: 496px 146px -496px -146px 42px 56px 597px 512px 'sprite.png'
$s-chat: 410px 418px -410px -418px 67px 50px 597px 512px 'sprite.png'
$s-chat1: 420px 0px -420px 0px 61px 56px 597px 512px 'sprite.png'
$s-checked: 563px 0px -563px 0px 34px 30px 597px 512px 'sprite.png'
$s-clock: 496px 363px -496px -363px 38px 38px 597px 512px 'sprite.png'
$s-contract: 164px 418px -164px -418px 67px 50px 597px 512px 'sprite.png'
$s-diploma: 420px 212px -420px -212px 51px 62px 597px 512px 'sprite.png'
$s-flag: 496px 416px -496px -416px 34px 38px 597px 512px 'sprite.png'
$s-gun: 0px 209px 0px -209px 195px 194px 597px 512px 'sprite.png'
$s-house: 496px 0px -496px 0px 52px 58px 597px 512px 'sprite.png'
$s-human-couple: 0px 483px 0px -483px 42px 29px 597px 512px 'sprite.png'
$s-key: 210px 0px -210px 0px 195px 194px 597px 512px 'sprite.png'
$s-like: 246px 418px -246px -418px 67px 50px 597px 512px 'sprite.png'
$s-newborn: 496px 290px -496px -290px 34px 58px 597px 512px 'sprite.png'
$s-pacifier: 496px 217px -496px -217px 40px 58px 597px 512px 'sprite.png'
$s-pencil: 420px 289px -420px -289px 54px 57px 597px 512px 'sprite.png'
$s-responsive: 82px 418px -82px -418px 67px 50px 597px 512px 'sprite.png'
$s-step-1: 210px 209px -210px -209px 194px 194px 597px 512px 'sprite.png'
$s-step-2: 0px 0px 0px 0px 195px 194px 597px 512px 'sprite.png'
$s-stroller: 496px 73px -496px -73px 48px 58px 597px 512px 'sprite.png'
$s-studies: 420px 71px -420px -71px 61px 54px 597px 512px 'sprite.png'
$s-ultrasound: 420px 361px -420px -361px 53px 42px 597px 512px 'sprite.png'
$s-video-camera: 328px 418px -328px -418px 67px 50px 597px 512px 'sprite.png'
